<ion-view title="Book Appointment" id="page12" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kFvyx6cDRPafMSwhoFp3_539991bea51aa780ab71b2392938d607.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="philipsImageSense.consultations()" id="bookAppointment-button18" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-large button-block">Confirm</a>
  </ion-content>
</ion-view>