<ion-view title="Camera/ Gallery Landing page" id="page8" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <h3 id="cameraGalleryLandingPage-heading4" style="color:#FFFFFF;font-weight:lighter;">Confirm image selection..</h3>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <div>
      <img src="img/xN4z26maQdqNrFEiXRgm_eye-color-blue-z-c-660x440.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 67px;"></div>
    <div id="cameraGalleryLandingPage-button-bar1" class="button-bar">
      <a ui-sref="philipsImageSense.additionalDetails()" id="cameraGalleryLandingPage-button13" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-block icon ion-android-checkbox-outline"></a>
      <a ui-sref="philipsImageSense.home()" id="cameraGalleryLandingPage-button15" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block icon ion-android-cancel"></a>
    </div>
  </ion-content>
</ion-view>