<ion-view title="Consultant List" id="page11" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <form id="consultantList-form6" class="list">
      <label class="item item-input" id="consultantList-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search nearby Consultants">
      </label>
      <ion-item class="item-avatar" id="consultantList-list-item40" ui-sref="philipsImageSense.bookAppointment()">
        <img src="img/9TSNydpPQf2k9Y9mW6Iv_man2.png">
        <h2>Jane Doe</h2>
        <p>Dietitian - Apollo</p>
      </ion-item>
      <ion-item class="item-avatar" id="consultantList-list-item41" ui-sref="philipsImageSense.bookAppointment()">
        <img src="img/j6qNQ2eGQtKH666ylwXa_girl.png">
        <h2>Sasha Earheart</h2>
        <p>ENT Specialist - Manipal</p>
      </ion-item>
      <ion-item class="item-avatar" id="consultantList-list-item42" ui-sref="philipsImageSense.bookAppointment()">
        <img src="img/6K4y1bkcReyhQWEW6nz3_man.png">
        <h2>Forest Gump</h2>
        <p>Psycologist - Global Health</p>
      </ion-item>
      <ion-item class="item-avatar" id="consultantList-list-item45" ui-sref="philipsImageSense.bookAppointment()">
        <img src="img/9TSNydpPQf2k9Y9mW6Iv_man2.png">
        <h2>Robert D'Souza</h2>
        <p>Opthalmologist - Manipal</p>
      </ion-item>
      <ion-item class="item-avatar" id="consultantList-list-item46" ui-sref="philipsImageSense.bookAppointment()">
        <img src="img/j6qNQ2eGQtKH666ylwXa_girl.png">
        <h2>Jane Foster</h2>
        <p>Cardiologist - Fortis</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>