<ion-view title="Consultations" id="page3" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <ion-list id="consultations-list9">
      <label class="item item-input" id="consultations-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search consultations">
      </label>
      <ion-item class="item-avatar assertive" id="consultations-list-item32">
        <img src="img/HSi7rR0TRH6oSwwsXhsE_girl.png">
        <h2assertive>Dermatologist - Pending
          <p style="white-space:normal;">on Report - 25-06-2016</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar royal" id="consultations-list-item33">
        <img src="img/iwPmt54VTtiCyNaB9bKd_man2.png">
        <h2royal>Opthamologist - Complete
          <p style="white-space:normal;">on Report - 22-04-2016</p>
        </h2royal>
      </ion-item>
      <ion-item class="item-avatar dark" id="consultations-list-item34">
        <img src="img/VTTUhBmSWep2liHFpcTy_man2.png">
        <h2dark>Opthalmologist - Cancelled
          <p style="white-space:normal;">on Report - 22-04-2016</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar balanced" id="consultations-list-item35">
        <img src="img/01BsINn8QLDduHsHbuga_man.png">
        <h2balanced>Physiologist - Booked
          <p style="white-space:normal;">on Report - 25-06-2016</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar dark" id="consultations-list-item36">
        <img src="img/HSi7rR0TRH6oSwwsXhsE_girl.png">
        <h2dark>Dermatologist - Cancelled
          <p style="white-space:normal;">on Report - 05-10-2015</p>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>