<ion-view title="Health &amp; Wellbeing" id="page4" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="healthWellbeing-card21">
      <ion-item class="item-avatar" id="healthWellbeing-list-item20">
        <img src="img/Gy7ewI8FT6i9QQEQLB6r_man.png">
        <h2>Philips - Health Specialist</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/nhv8GZuSKWepEvQRSAS0_07-healthy-snack-ideas-fruit-kebab.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="healthWellbeing-list-item-container2">
        <div id="healthWellbeing-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Healthy Lifestyle
            <strong>Liver Care</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="healthWellbeing-card23">
      <ion-item class="item-avatar" id="healthWellbeing-list-item26">
        <img src="img/ANurQxytTJmoiirzhuR1_girl.png">
        <h2>Health Companion</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/rqMXP17fQSyHaisUianG_running-poop-fb.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="healthWellbeing-list-item-container5">
        <div id="healthWellbeing-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Why running is good for your
            <strong>Heart?</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="healthWellbeing-card24">
      <ion-item class="item-avatar" id="healthWellbeing-list-item27">
        <img src="img/VEFPppt2TfN1LADIYh8w_man2.png">
        <h2>Nature Doctor</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/6ByZD7K3Qc64Tgrc8cuu_cleansing-juices.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="healthWellbeing-list-item-container6">
        <div id="healthWellbeing-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Fruits vs Fruit Juices -
            <strong>A healthy debate</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>