<ion-view title="Home" id="page1" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="home-slide24" style="background:url(&quot;img/durX2qoqRrCRQE2KS0NQ_Best-iPhone-fitness-apps.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide25" style="background:url(&quot;img/3yVDdy9pRsCPSU1AzwYi_Health-and-Fitness-Events-in-Boston-Rally-Sports-and-General-Assembly-.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide26" style="background:url(&quot;img/ytPiEr04TWS7VZkUIKHh_hero_fitness_home.jpg&quot;) no-repeat center;background-size:cover;" class="padding"></ion-slide-page>
    </ion-slides>
    <h3 id="home-heading2" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Choose one below to get Expert help!</h3>
    <a ui-sref="philipsImageSense.cameraGalleryLandingPage()" id="home-button6" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-large button-block icon ion-android-camera"> Camera</a>
    <div id="home-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">or</p>
    </div>
    <a ui-sref="philipsImageSense.cameraGalleryLandingPage()" id="home-button7" style="border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-block icon ion-ios-photos"> Pick from Gallery</a>
  </ion-content>
</ion-view>