<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#032659;">
    <ion-header-bar class="bar-stable">
      <div class="title">PHILIPS ImageSense</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="philipsImageSense-list1">
        <ion-item class="item-icon-left dark" id="philipsImageSense-list-item6" ui-sref="philipsImageSense.home()" menu-close="">
          <i class="icon ion-android-home"></i>Home</ion-item>
        <ion-item class="item-icon-left dark" id="philipsImageSense-list-item7" ui-sref="philipsImageSense.reports()" menu-close="">
          <i class="icon ion-document-text"></i>Reports</ion-item>
        <ion-item class="item-icon-left dark" id="philipsImageSense-list-item8" ui-sref="philipsImageSense.consultations()" menu-close="">
          <i class="icon ion-android-chat"></i>Consultations</ion-item>
        <ion-item class="item-icon-left dark" id="philipsImageSense-list-item9" ui-sref="philipsImageSense.healthWellbeing()" menu-close="">
          <i class="icon ion-heart"></i>Health &amp; Wellbeing</ion-item>
        <ion-item class="item-icon-left dark" id="philipsImageSense-list-item10" ui-sref="philipsImageSense.login()" menu-close="">
          <i class="icon ion-power"></i>Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>