<ion-view title="Report Detail" id="page10" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <h2 id="reportDetail-heading5" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Initial Report</h2>
    <div class="list card" id="reportDetail-card25">
      <div id="reportDetail-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Symptoms:</strong>
        </p>

        <p style="color:#000000;">Red streaks on the eyes in the farther ends.</p>

        <p style="color:#000000;">
          <strong>Inference:</strong>
        </p>

        <p style="color:#000000;">Subconjunctival Hemorrhage</p>

        <p style="color:#000000;">
          <strong>Reason:</strong>
        </p>

        <p style="color:#000000;">Broken Blood Vessel on the sclera</p>

        <p style="color:#000000;">
          <strong>Analysis:</strong>
        </p>

        <p style="color:#000000;">Low Risk – Needs no Consultation</p>

        <p style="color:#000000;">Consultation recommended if symptoms continue for more than 4 days</p>
      </div>
    </div>
    <a ui-sref="philipsImageSense.consultantList()" id="reportDetail-button16" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-block">Book an Appointment</a>
    <a ui-sref="philipsImageSense.reports()" id="reportDetail-button17" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Save Report</a>
  </ion-content>
</ion-view>