<ion-view title="Reports" id="page2" style="background-color:#032659;">
  <ion-content padding="true" class="has-header">
    <ion-list id="reports-list4">
      <label class="item item-input" id="reports-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search reports">
      </label>
      <ion-item class="item-thumbnail-left assertive" id="reports-list-item11">
        <img src="img/vnarPya4QPWEM4DZiFei_note3.png">
        <h2assertive>Care Report - 07-05-2017
          <p>Consultation pending</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="reports-list-item12">
        <img src="img/vnarPya4QPWEM4DZiFei_note3.png">
        <h2balanced>Care Report - 07-05-2017
          <p>Consultation complete</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="reports-list-item13">
        <img src="img/vnarPya4QPWEM4DZiFei_note3.png">
        <h2balanced>Care Report - 07-05-2017
          <p>Consultation Complete</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="reports-list-item14">
        <img src="img/vnarPya4QPWEM4DZiFei_note3.png">
        <h2positive>Care Report - 07-05-2017
          <p>Consultation Not required</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="reports-list-item16">
        <img src="img/vnarPya4QPWEM4DZiFei_note3.png">
        <h2positive>Care Report - 07-05-2017
          <p>Medication In-progress</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="reports-list-item17">
        <img src="img/vnarPya4QPWEM4DZiFei_note3.png">
        <h2balanced>Care Report - 07-05-2017
          <p>Medication complete</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="reports-list-item15">
        <img src="img/vnarPya4QPWEM4DZiFei_note3.png">
        <h2balanced>Care Report - 07-05-2017
          <p>Medication complete</p>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>